* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-size: 16px;
  background-color: #000;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.leftNav {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 12%;
  background: #1F1F1F;
}

.logoContainer {
  text-align: center;
  padding: 20px;
}

.logo {
  width: 5rem;
  height: 5rem;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.navIcon {
  text-align: center;
  width: 100%;
  padding: 1rem;
  display: block;
}

.navIcon img {
  margin: 0 auto;
  width: 2rem;
  height: 2rem;
}

.logoutContainer {
  padding: 20px;
  text-align: center;
}

.logout {
  background-color: #d33333;
  padding: 15px 20px;
  border: 0;
  font-size: larger;
  font-weight: 500;
  border-radius: 5px;
}

.main {
  width: 55%;
  overflow-y: auto;
  padding: 25px 15px 120px;
  position: relative;
}

.main::-webkit-scrollbar {
  width: 0;
}

.rightNav {
  width: 33%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 25px 15px;
}

.rightNav::-webkit-scrollbar {
  width: 0;
}

.rightNav .welcome, .rightNav .greeting {
  padding: 15px;
  text-align: center;
  text-transform: capitalize;
}

.container {
  padding: 15px;
  color: white;
}

.genreHeading {
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.song-container {
  margin: 20px;
  background-color: #1F1F1F;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0 9px 13px -4px rgb(200 200 200 / 0.2), 0 6px 12px -4px rgb(200 200 200 / 0.2);
  cursor: pointer;
}

.song-container button {
  background-color: transparent;
  border: none;
  outline: none;
}

.song-container button svg, .song-container button.liked svg:hover {
  fill: white;
  cursor: pointer;
}

.song-container button svg:hover, .song-container button.liked svg {
  fill: #d33333;
}

.genreCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.genre {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cardContainer {
  width: 33%;
  padding: 15px 20px;
}

.genreCard {
  width: 100%;
  background-color: rgb(92, 92, 92);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
}

.cardImage {
  height: 32rem;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.cardName {
  padding: 5px;
}

.genreCard:hover {
  transform: scale(1.05);
}

.search-results {
  margin-top: 20px;
  text-align: center;
}

.audioPlayerContainer {
  position: fixed;
  left: 12%;
  bottom: 0;
  width: 88%;
}

.audioPlayerContainer .rhap_container {
  background-color: #1F1F1F;
  border-radius: 5px;
  box-shadow: 0 9px 13px -4px rgb(200 200 200 / 0.2), 0 6px 12px -4px rgb(200 200 200 / 0.2);
  padding: 25px 15px 15px;
}

.audioPlayerContainer .rhap_time {
  color: #fff;
}

.audioPlayerContainer .rhap_progress-filled, .audioPlayerContainer .rhap_progress-indicator {
  background-color: #d33333;
}
