.genreCard {
    background-color: rgb(92, 92, 92);
    border-radius: 12%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    margin: 5%;
    
}

.cardImage {
    height: 125px;
    object-fit: contain;
    border-radius: 12% 12% 0 0;
}

.cardName {
    padding: 2%;
}

.genreCard:hover {
    transform: scale(1.05);
}