.genreHeading {
    color: #fff;
    text-transform: capitalize;
}

.songList {
    color: #fff;
}

.genreContainer {
  margin: 0;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}