.leftNav {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 8%;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: #1F1F1F;
    justify-content: space-between;
}

.logo {
    margin-top: 25%;
    margin-left: 17%;
    height: 90px;
    transform: rotate(10deg);
}

.navIcon {
    margin: auto;
    display: flex;
    margin-top: 50px;
    height: 30px;
}

.navIcon:hover {
    transform: scale(1.2);
}

.logout{
    border: 0;
    background-color: #d33333;
    color: #000000;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin: auto;
    padding: 8px 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}