body {
    /* background-color: aqua; */
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    
}
.container_ {
    position: fixed;
    left: 8%;
    bottom: 0;
    width: 67%;

}