.searchBar {
    width: 40%;
    height: 30px;
    background: #1F1F1F;
    border-radius: 50px;
    padding: 2px;
    padding-left: 25px;
    border: none;
    color: #fff;
}

.searchBar:focus {
    outline: none;
    border: none;
}