*{
   box-sizing: border-box;
   margin: 0;
   padding: 0; 
}


.form-wrapper{
    width: 30%;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 90px 20px 130px;
}

form h3{
    padding-bottom: 40px;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    color: white;
}

input{
    display: block;
    height: 50px;
    width: 100%;
    padding-left: 15px ;
    padding-right: 15px ;
    background-color: #525252;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 17px;
    font-weight: 300;
    color: white;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 35px;
}
::placeholder{
    color: #a1a1a1;
}
button{
    background-color: #d33333;
    color: #000000;
    border: 0;
    padding: 8px 40px;
    font-size: 24px;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
}

.suhead{
    padding-bottom: 0px;
}

.form-wrapper{
    padding: 50px 20px 40px;
}

.suform{
    margin-left: 10%;
    margin-right: 10%;
}

.signup-link{
    color: white;
}

.signup-link a {
    color: white;
    text-decoration: underline;
}

.login-link a{
    color: #000000;
    text-decoration: none;
}

.error {
    margin: 10px 0 -10px;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    color: #d33333;
    width: 100%;
    font-size: small;
}

.text-center {
    text-align: center;
}